In [1]:
import pandas as pd
df = pd.read_csv("Book3.csv")
df

     city   temp windspeed     event
0  Mumbai    32c      6MPh      Rain
1  Mumbai  -9999         9     Sunny
2  Mumbai    28F       NaN      Snow
3   Paris  -9999         7  no event
4   Paris     32     -9999      Rain
5   Paris  -9999     -9999     Sunny
6   Delhi     34         8  no event
7   Delhi     40     -9999    Cloudy
8   Delhi  -9999        12     Sunny

In [4]:
g = df.groupby('city')

In [6]:
for city, city_g in g :
    print(city)
    print(city_g)

Delhi
    city   temp windspeed     event
6  Delhi     34         8  no event
7  Delhi     40     -9999    Cloudy
8  Delhi  -9999        12     Sunny
Mumbai
     city   temp windspeed  event
0  Mumbai    32c      6MPh   Rain
1  Mumbai  -9999         9  Sunny
2  Mumbai    28F       NaN   Snow
Paris
    city   temp windspeed     event
3  Paris  -9999         7  no event
4  Paris     32     -9999      Rain
5  Paris  -9999     -9999     Sunny

In [7]:
g.max()

/tmp/ipykernel_27587/557829741.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  g.max()

       temp     event
city
Delhi    40  no event
Mumbai  32c     Sunny
Paris    32  no event